    body{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        background-image: linear-gradient(to right, rgb(92, 89, 89),rgb(37, 34, 34));
    }

    .box{
        color: blanchedalmond;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(8, 0, 0, 0.932);
        padding: 15px;
        border-radius: 15px;
        width: 25%;
    }
    fieldset{
        border: 3px solid rgb(243, 241, 241);
    }
    legend  {
        border: 1px solid rgb(210, 207, 211);
        padding: 10px;
        text-align: center;
        background-color: rgb(13, 1, 24);
        border-radius: 8px;   
        }
    .inputbox{
        position:relative;
        top: 10%;
        left: 50%;
    }
    .inputUser{
        background:none;
        border: none;
        border-bottom: 1px solid rgb(243, 237, 237);
        outline: none;
        color: white;
        font-size: 12px;
        width: 100%;
        letter-spacing: 2px;
    }
    .labelInput{
        position:relative;
        top: -20px;
        left: 0px;
        pointer-events: none;
        transition: .5s;
    }
    .inputUser:focus ~.labelInput,
    .inputUser:valid ~.labelInput{
        top: -40px;
        font-size: 10px;
        color: blanchedalmond;
    }

    #data_nascimento{
        border:none;
        padding: 8px;
        border-radius: 10px;
        outline: none;
        font-size: 12px;
    }
    #submit{
        background-image: linear-gradient(to right, rgb(240, 222, 221),rgb(78, 75, 75));
        width: 100%;
        border: none;
        padding: 15px;
        color: white;
        font-size: 12px;
        cursor:pointer;
        border-radius: 12px;

    }